*{margin:0;padding:0;}

html, body {
    height: 100%
}

body { 
    background: #667777 url(img/bg.jpg) no-repeat center center/100% 100%;
    overflow: hidden;
    text-align: center;
    height: 100%; 
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    margin-top: -20px;
}

h1, h2 {
    color: #fff;
}
h1 {
    font-size: 400%;
    padding-top: 20px;
}
h2 {
    font-size: 200%;
}

.botones{ 
    padding: 40px;
 }

footer {
    padding-top: 10px;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #242424;
}
footer h4 {
    color: #fff;
    

}
